<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoHangerCreation_ButtonCreate.PIpeHangerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoHangerCreation_ButtonCreate.PIpeHangerSetting>
            <setting name="FamilySelected" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="DivideValueSelected" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="MultiHangerSelected" serializeAs="String">
                <value>null</value>
            </setting>
        </AutoHangerCreation_ButtonCreate.PIpeHangerSetting>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
