<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeamCasing_ButtonCreate.BeamCast_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeamCasing_ButtonCreate.BeamCast_Settings>
            <setting name="cD1_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cP1_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cP1_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cMax1_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cMax1_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rD1_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rP1_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rP1_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rMax1_RatioD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rMax1_RatioW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cD2_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cP2_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cP2_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cMax2_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cMax2_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rD2_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rP2_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rMax2_RatioD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rMax2_RatioW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rP2_Ratio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkLink" serializeAs="String">
                <value>True</value>
            </setting>
        </BeamCasing_ButtonCreate.BeamCast_Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
