<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PipeTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PipeTagger.Properties.Settings>
            <setting name="Test_text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PI_2nd_Selected" serializeAs="String">
                <value>標稱+系統+BOP/COP</value>
            </setting>
            <setting name="DT_C_2nd_Selected" serializeAs="String">
                <value>標稱+系統+BOP/COP</value>
            </setting>
            <setting name="DT_R_2nd_Selected" serializeAs="String">
                <value>WxH+系統+BOD</value>
            </setting>
            <setting name="CN_2nd_Selected" serializeAs="String">
                <value>材質+標稱+BOP</value>
            </setting>
            <setting name="CT_2nd_Selected" serializeAs="String">
                <value>服務類型+標稱+BOD</value>
            </setting>
            <setting name="label_dist_mm" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="label_length_mm" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PI_1st_Selected" serializeAs="String">
                <value>L_圓形管標籤_標註符號</value>
            </setting>
            <setting name="DT_C_1st_Selected" serializeAs="String">
                <value>L_圓形風管標籤_標註符號</value>
            </setting>
            <setting name="DT_R_1st_Selected" serializeAs="String">
                <value>L_方形風管標籤_標註符號</value>
            </setting>
            <setting name="CN_1st_Selected" serializeAs="String">
                <value>L_電管標籤_標註符號</value>
            </setting>
            <setting name="CT_1st_Selected" serializeAs="String">
                <value>L_電纜架標籤_標註符號</value>
            </setting>
        </PipeTagger.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
